{% extends "viveralegreefeliz/base.html" %}
<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
      <h1 class="text-center">Bem vindo à Loja Virtual</h1>

      <div class="container">
        <p class="my-5">
          <h2 class="text-justify" style="padding:30px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </h2>
        </p>
      </div>
      <!-- Header
          <header class="cotainer text-center bg-light ">
            <div class="row py-2">
              <div class="col-md-8 col-lg-6 mx-auto">
                <h1>Bem vindo à Clínia Terapêutica Viver Alegre e Feliz!</h1>
                <div class="col-md-10">
                  <p class="lead text-md-right">
                    O nosso objetivo é oferecer equilíbrio emocional,
                   mental e sutil às pessoas para que possam viver alegre e feliz consigo mesmas,
                   e se desenvolver em todas as áreas da vida.</p>
                </div>
                <! <a href="" class="btn btn-outline-secondary btn-lg" width="120px" >Agende uma consulta</a>
              </div>
            </div>
          </header>  End of Header -->
    {% endblock %}

  </body>
</html>
