{% extends "viveralegreefeliz/base.html" %}
<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quem Somos</title>
  </head>

  <body>
    {% block content %}

      <!-- <Header>
         <header class="container-fluid text-center bg-light ">
            <div class="row py-2">
              <div class="col-md-8 col-lg-6 mx-auto">
                <h1>Bem vindo à Clínia Terapêutica Viver Alegre e Feliz!</h1>
                <div class="col-md-10">
                  <p class="lead text-md-right">
                    O nosso objetivo é oferecer equilíbrio emocional,
                   mental e sutil às pessoas para que possam viver alegre e feliz consigo mesmas,
                   e se desenvolver em todas as áreas da vida.</p>
                </div> -->
                <!-- <a href="" class="btn btn-outline-secondary btn-lg" width="120px" >Agende uma consulta</a> -->
              <!-- </div>
            </div>
          </header> <! End of Header -->

          <section>
            <div class="row py-2">
              <!-- <div class="container justify-content-md-center" style="padding: 100px;"> -->
                <div class="container col-md-8 my-5">
                  <p class="container" style="font-size: 25px">
                      O espaço Holístico Viver Alegre e Feliz foi desenvolvido com o objetivo de oferecer o autoconhecimento
                      pessoal em todas a areas da vida humana, utilizando-se de técninas trapêuticas holísticas
                      integativas, naturais e não invasivas.
                    </p>
                    <p class="container my-5" style="font-size: 25px">
                        A sua fundadora, Édina Peixoto Thomas é terapêuta holística, terapêutca consteladora sistêmica, professora,
                      palestrante holística e escritora com formação suprior em ciências jurídicas e ciências contábeis. Pósgraduada
                      em direito do tabalho.
                    </p>
                      <p class=" container my-3"style="font-size: 25px">
                      É também criadora do método Viver Alegre e Feliz para você que busca o seu progredir infinito
                      utilizando-se das técnincas holisticas.
                    </p>
                </div>
              </div>

          </section>
    {% endblock %}
  </body>
</html>
